/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.logo img {
    width: 140px;
    padding-bottom: 24px;
}

.navigation {
    background-color: #f9ffe5;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation ul li {
    display: inline-block;
    margin-right: 20px;
}

.navigation ul li:last-child {
    margin-right: 0;
}

.heroImg {
    text-align: center;
    padding: 50px 0;
}

.heroImg p {
    font-size: 1.2em;
}

.heroImg button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.heroImg button:hover {
    background-color: #555;
}


.mySkills {
    text-align: center;
    padding: 50px 0;
}

.flexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    width: 80%;
    margin: 0 auto;
}


.flexChild {
    width: calc(33% - 20px); 
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff; 
    border: 2px solid #000080; 
}


.myWork {
    text-align: center;
    padding: 50px 0;
    border: red 1px solid;
}

.workGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    grid-template-areas:
        "project1 project2"
        "project3 project4";
}

.workItem {

}
